---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const mentiras = (await getCollection('mentira')).sort(
  (a, b) => b.data.lieDate.valueOf() - a.data.lieDate.valueOf()
);
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            mentiras.map((mentira) => (
              <li>
                <span>
                  <h2>{mentira.data.title}</h2>
                  <FormattedDate date={mentira.data.lieDate} />
                  <a href={`/mentira/${mentira.slug}/`}>Ver la mentira <span class="sr-only">{mentira.data.title}</span></a>
                </span>
                <YouTube id={`${mentira.data.youtubeId}`} title={`${mentira.data.youtubeTitle}`} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  li {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    &:not(:last-of-type) {
      margin-bottom: var(--spacing-lg);
    }
    
    @media (min-width: 576px) {
      grid-template-columns: 3fr 2fr;
    }
  }
</style>
